# Function 
_Khundrakpam Veeshel Singh_
***
- _**Function definition syntax**_

def function_name (arg1,arg2,...):
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; body</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; body</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</p>

- _**Function calling syntax**_

function_name(arg1, arg2,...)
***

- _**Types of argument**_
    - default arguments
    - keyword arguments
    - positional arguments
    - Variable-length arguments
        - arbitrary positional arguments
        - arbitrary keyword arguments
***
- _**Rule**_
    - default arguments should follow non-default arguments
    - keyword arguments should follow positional arguments
    - All the keyword arguments passed must match one of the arguments accepted by the function and their order is not important.
    - No argument should receive a value more than once
    - Default arguments are optional arguments
***

In [1]:
def hello()->None:
    print("Hello")

In [2]:
hello()

Hello

In [3]:
def add(a:float, b:float)->float:
    return a+b

In [4]:
add(5,9)

14

## Positional Argument
***

In [5]:
def sub(a:float,b:float,/)->float:
    print(f'Difference = {a+b}')

In [6]:
# Two different result for two different position of the arguments
sub(12,4)
sub(4,12)

Difference = 16
Difference = 16

## Keyword Argument
***

In [7]:
def sub(*,a:float,b:float)->float:
    print(f'Difference = {a+b}')

In [8]:
# It will create error because there is no positional argument
sub(12,4)

TypeError: sub() takes 0 positional arguments but 2 were given

In [ ]:
# This is correct
sub(a=12,b=4)
sub(b=12,a=4)

## Default Argument
***

In [9]:
# It will create error cause default argument follows poitional and keyword argument
def add(a:float=12,b:float)->float:
    print(f'Sum = {a+b}')

SyntaxError: non-default argument follows default argument (728596986.py, line 2)

***
_**Tip ---->**_   Argument order : **( Positional argument, Keyword argument, Default argument )**_
***

In [10]:
# This is correct
def add(a:float,b:float=12):
    print(f'Sum = {a+b}')

In [11]:
add(2)
add(1,2)

Sum = 14
Sum = 3

## Variable length argument
***

### Variable length positional argument

In [12]:
def add(*a:float):
#     print(type(a))
    sum=0
    for i in a:
        sum=sum+i
    print(f'Sum = {sum}')

In [13]:
add(1)

Sum = 1

In [14]:
add(1,2)

Sum = 3

In [15]:
add(1,2,3,4,5)

Sum = 15

In [16]:
add(1,2,3,4,5,6,7,8,9)

Sum = 45

### Variable length keyword argument

In [17]:
def dist_population(**a:int)->None:
    '''This function accepts District with its population as keyword and values respectively.
    Then it prints all Districts and population in sorted form of District'''
    
    print('   District  Population\n   --------------------')
    for i in sorted(a.keys()):
        print('%11s %11d'%(i,a.get(i)))

In [18]:
dist_population(Thoubal=1200864, Imphal=89534122, Kakching=8762375, Ukhrul=125121)

   District  Population
   --------------------
     Imphal    89534122
   Kakching     8762375
    Thoubal     1200864
     Ukhrul      125121

## Function with return value

**Only one return value**

In [19]:
def add(a:float,b:float)->float:
    return a+b
add(6,5)

11

In [20]:
sum=add(6,5)
print(f'Sum = {sum}')

Sum = 11

**Multiple return value**

In [21]:
def area_perimeter_rectangle(l:float,b:float)->float:
    return l*b,2*(l+b)

In [22]:
area_perimeter_rectangle(20,10)

(200, 60)

In [23]:
area,perimeter=area_perimeter_rectangle(20,10)
print(f'Area = {area}  Peremeter = {perimeter}')

Area = 200  Peremeter = 60

## Function with no return value

In [24]:
def myfunc()->None:
    print('Hello world')

In [25]:
flag=myfunc()

Hello world

In [26]:
print(flag)

None

## Documnetation and comment

In [27]:
def add(a:float,b:float)->float:
    #adding ------comment
    """ Addition of two numbers -------documentation/docstring
    Arguments: a and b.
    Returns sum of a and b.
    example :
             add(4,5)
             result=9
    """
    return a+b

In [28]:
help(add)

Help on function add in module __main__:

add(a: float, b: float) -> float
    Addition of two numbers -------documentation/docstring
    Arguments: a and b.
    Returns sum of a and b.
    example :
             add(4,5)
             result=9

_**Tip ---->** Comment cannot accessed by help function But
Docstring can be accessed by help function_

# Lambda Function:
`lambda arguments: expression`

In [29]:

sq= [x*x for x in range(1,11)]
for item in sq:
    print(item,end=' ')

1 4 9 16 25 36 49 64 81 100

In [30]:
sq_l=[lambda x=x:x*x for x in range(1,11)]
for item in sq_l:
    print(item(),end=' ')

1 4 9 16 25 36 49 64 81 100

In [31]:
salary = [13000, 9000, 20000, 5000, 2000, 60000, 4500]
 
high = list(filter(lambda salary: salary>30000, salary))
 
low = list(filter(lambda salary: salary<10000, salary))

print(high,'\n',low)

[60000]
 [9000, 5000, 2000, 4500]

In [32]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [33]:
name=['Veeshel Khundrakpam', 'Ram Yumnam', 'Tom Laishram', 'Kajal Chanu']

name

['Veeshel Khundrakpam', 'Ram Yumnam', 'Tom Laishram', 'Kajal Chanu']

In [34]:
x=sorted(name,key=lambda x:x.split(' ')[1])

In [35]:
x

['Kajal Chanu', 'Veeshel Khundrakpam', 'Tom Laishram', 'Ram Yumnam']

In [36]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [37]:
city= ['Delhi','Mumbai','Kolkata','Bengaluru']

In [38]:
ss=sorted(city,key=lambda a:a[1] )
print(ss)

['Delhi', 'Bengaluru', 'Kolkata', 'Mumbai']

In [40]:
def factorial()->int:
    n=int(input('Enter a whole number to calculate factorial :'))
    result=1
    if n==0 or n==1:
        print('The factorial of ',n,' is ',result)
        return result
    else:
        for i in range(1,n+1):
            result= result*i
        print('The factorial of '+str(n)+' is ',result)    
        return result
rslt=0  
rslt=factorial()
print('The factorial is ',rslt)

Enter a whole number to calculate factorial : 5

The factorial of 5 is  120
The factorial is  120

In [44]:
a,b=3,1
def add(a:float,b:float)->float:
    print(a+b)
add(a,b)
x=lambda a,b: a+b
x(a,b)

4

4

## Reccuring function

In [45]:
def factorial(n:int)->int:
    if n==0:
        return 1
    else:
        return n * factorial(n-1)

In [46]:
factorial(0)

1

In [47]:
factorial(5)

120